<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}">
<head>
    <title>P&aacute;gina de administrador</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="page-header">
            <h1 class="all-tittles" style="font-size: 30px;">> Crear el tema: </h1>
        </div>
        
        <div class="container cont">
            <p>Grado: <span th:text="${nombreGrado}"></span></p>
            <p>Curso: <span th:text="${nombreCurso}"></span></p>
            <hr class="linea">
            <form th:object="${tema}" th:action="@{/crearTema}" method="POST">
                <div>
                    <label class="etiq"> T&iacute;tulo del tema: </label><input class="in" th:field="*{nombre}" type="text" id="tema">
                    <hr class="linea">
                    <label class="etiq"> Imagen: </label><input class="in" th:field="*{imagen}" type="text" id="tema">
                    
                </div>

                <div>
                </div>

                <div>
                    <input class="btnCrear" type="submit" value="CREAR TEMA">
                </div>
            </form>
            <div>
                <p th:text="${mensaje}"></p>
            </div> 
        </div>
    
    </div>
</body>
</html>