<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}">
<head>
    <title>P&aacute;gina de administrador</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="./css/rich/richtext.min.css">
    <script src="./js/rich/jquery.richtext.min.js"></script> 

</head>
<body>

<div layout:fragment="content">
    <div class="page-header">
        <h1 class="all-tittles" style="font-size: 30px;">> Crear el contenido: </h1>
    </div>
    <div class="container cont cont1">
        <form th:object="${contenido}" th:action="@{/crearContenido}" method="POST">
            
            <div class="div1">
                <label class="etiq1">Coloque el subt&iacute;tulo: </label>
                <input class="input1" type="text" >
            </div>
            <hr class="linea">

            <div class="div2">
                <label >Cree el contenido: </label>
                <textarea id="contenido"></textarea> 
            </div>
            <hr class="linea">
            
            <div class="div3">
                <label>Cargue una imagen: </label>
                <input class="input3" type="file">
            </div> 
            <div class="div4">
                <input class="btnCrear" type="submit" value="CREAR CONTENIDO">
            </div>
        </form>
    </div>
    
    
    

    <script type="text/javascript">
        $(document).ready(function() {
            $("#contenido").richText();
        });
    </script>


</div>
</body>
</html>