<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}">
<head>
    <title>P&aacute;gina de administrador</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="page-header">
            <h1 class="all-tittles" style="font-size: 30px;">> Crear el tema: </h1>
        </div>
        <div class="container">
            <form th:object="${tema}" th:action="@{/creartema}" method="POST">
                <div>
                    <label class="etiq"> Titulo del tema: </label><input class="in" th:field="*{nombre}" type="text" id="tema">
                    <label class="etiq"> Imagen: </label><input class="in" th:file="*{imagen}" type="file" id="imagen">
                </div>

                <div>
                </div>

                <div>
                    <input class="btnCrear" type="submit" value="CREAR TEMA">
                </div>
            </form> 
        </div>
    
    </div>
</body>
</html>