<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link rel="stylesheet" type="text/css" href="./css/temas.css">
      <script src="./js/lista_de_cursos.js"></script>
      <title>Aritm&eacutetica para 5to Grado</title>
   </head>

   <body>
     <div class="logotitulo">
       <h1>EduLearn<img src="./images/buhologo.png" align="right" width="75" height="75"></h1>
     </div>
      <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='http://'>Inicio</a></li>
          <li><a href='/grados'>Grados</a></li>
          <li><a href='http://'>Sobre Nosotros</a></li>
          <li><a href='/contacto'>Cont&aacutectanos</a></li>
        </ul>
      </nav>

      <h1 align="center">Teoria de exponentes</h1>

      <!-- -->

      <div class="contenido_alg">
        <h3><strong>Multipliacion y division de bases iguales</strong></h3>
        <ul>
          <li>Multiplicacion:</li>
          <li>Division:</li>
        </ul>
        <br>
        <h3><strong>Multiplicacion</strong></h3>
        <img src="./images/" align="center" width="200" height="150">
        <br>
        <h3><strong>Division</strong></h3>
        <img src="./images/" align="center" width="200" height="150">
      </div>

    </body>
</html>