<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link rel="stylesheet" type="text/css" href="./css/temas.css">
      <script src="./js/lista_de_cursos.js"></script>
      <title>Aritm&eacutetica para 5to Grado</title>
   </head>

   <body>
     <div class="logotitulo">
       <h1>EduLearn<img src="./images/buhologo.png" align="right" width="75" height="75"></h1>
     </div>
      <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='http://'>Inicio</a></li>
          <li><a href='/grados'>Grados</a></li>
          <li><a href='http://'>Sobre Nosotros</a></li>
          <li><a href='/contacto'>Cont&aacutectanos</a></li>
        </ul>
      </nav>

      <h1 align="center">N&uacutemeros decimales</h1>

      <!-- -->

      <div class="contenido_ari">
        <h3><strong>Representaci&oacuten literal de un n&uacutemero</strong></h3>
        
        <p>Para que un n&uacutemero est&eacute correctamente representado, debe cumplir las siguientes condiciones:</p>
        
        <ul>
          <li>Cada cifra desconocida debe ser representada por una letra, de preferencia min&uacutescula.</li>
          <li>Las letras y n&uacutemeros (representaci&oacuten alfanum&eacuterica) deben unirse por la parte superior mediante una l&iacutenea horizontal.</li>
          <li>Cualquier signo de colecci&oacuten o agrupaci&oacuten, como los par&eacutentesis, representan a una cifra o d&iacutegito.</li>
        </ul>
        <br>
        <img src="./images/numdecimal5_1.png" align="center" width="200" height="150">
        <br><br><br>
        <h3><strong>N&uacutemero capic&uacutea</strong></h3>
        <p>Es aquel n&uacutemero que le&iacutedo de izquierda a derecha o viceversa, no altera su valor. Otra forma de reconocer un n&uacutemero capic&uacutea, es que sus cifras de extremo a extremo son iguales, hasta llegar a su centro.</p>
        <br>
        <img src="./images/numdecimal5_2.png" align="center" width="200" height="150">
        <br><br><br>
        <h3><strong>Descomposici&oacuten polin&oacutemica de un n&uacutemero</strong></h3>
        <p>Es la representaci&oacuten de un n&uacutemero como la suma de los valores relativos de sus cifras.</p>
        <br>
        <img src="./images/numdecimal5_3.png" align="center" width="200" height="150">

      </div>

    </body>
</html>