<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link rel="stylesheet" type="text/css" href="./css/ari_numdecimal5.css">
      <script src="./js/lista_de_cursos.js"></script>
      <title>Aritm&eacutetica para 5to Grado</title>
   </head>

   <body>
     <div class="logotitulo">
       <h1>EduLearn<img src="./images/buhologo.png" align="right" width="75" height="75"></h1>
     </div>
      <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='http://'>Inicio</a></li>
          <li><a href='/grados'>Grados</a></li>
          <li><a href='http://'>Sobre Nosotros</a></li>
          <li><a href='/contacto'>Cont&aacutectanos</a></li>
        </ul>
      </nav>

      <h1 align="center">N&uacutemeros primos y compuestos</h1>

      <!-- -->

      <div class="contenido">
      <h3>Números Primos</h3>
      <p>Un número <strong>a</strong> es <strong>primo</strong> si solo tiene como divisores el <strong>1</strong> y <strong>él mismo</strong>. Para saber si un número es primo hallamos sus divisores y si únicamente tiene dos divisores, el 1 y él mismo, entonces dicho número es primo.</p>
      <p>Los primeros números primos son: 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89 y 97.</p>
      <img src="./images/primos5_1.png" align="center" width="200" height="50">
      <br>
      <h3>Números Compuestos</h3>
      <p>Un número es compuesto cuando no es primo, es decir, cuando tiene más de dos divisores.  </p>
      <img src="./images/primos5_2.png" align="center" width="500" height="350">
      <br>
      <h3>Cómo averiguar si un número es primo </h3>
      <p>Para averiguar si un número es primo o compuesto, se divide por la serie de números primos 2, 3, 5, 7, 11, ... hasta llegar a una división cuyo cociente sea igual o menor que el divisor. Si todas las divisiones tienen el resto distinto de cero, el número propuesto es un número primo.</p>
      <p>Ejemplo: Vamos a ver si el número 101 es un número primo.</p>
      <ul>
        <li>101 no es divisible por 2.</li>
        <li>101 no es divisible por 3.</li>
        <li>101 no es divisible por 5.</li>
        <li><strong>Si dividimos el número 101 por 7:</strong></li>
      </ul>
      <img src="./images/primos5_3.png" align="center" width="200" height="150">

      </div>

    </body>
</html>