<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link rel="stylesheet" type="text/css" href="./css/temas.css">
      <script src="./js/lista_de_cursos.js"></script>
      <title>Aritm&eacutetica para 5to Grado</title>
   </head>

   <body>
     <div class="logotitulo">
       <h1>EduLearn<img src="./images/buhologo.png" align="right" width="75" height="75"></h1>
     </div>
      <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='http://'>Inicio</a></li>
          <li><a href='/grados'>Grados</a></li>
          <li><a href='http://'>Sobre Nosotros</a></li>
          <li><a href='/contacto'>Cont&aacutectanos</a></li>
        </ul>
      </nav>

      <div class="contenido">
        <h1 align="center">Sustracci&oacuten</h1>

        <!-- -->
        <h3><strong>Sustracci&oacuten de n&uacutemeros naturales</strong></h3>
        <p>Es una operaci&oacuten inversa a la adici&oacuten, de modo que, dados dos n&uacutemeros, uno llamado minuendo y otro sustraendo, obtendremos un resultado al que se le denomina diferencia.</p>
        <img src="./images/sustraccion5_1.png" align="center" width="200" height="150">
        <br>
        <h4><strong>T&eacuterminos de la sustracci&oacuten</strong></h4>
        <p>Los t&eacuterminos de una sustracci&oacuten son:</p>
        <ul>
        <li>Minuendo</li>
        <li>Sustraendo</li>
        <li>Diferencia</li>
        </ul>
        <img src="./images/sustraccion5_2.png" align="center" width="200" height="100">
        <br>
        <h3><strong>Relaci&oacuten entre la suma y la diferencia de dos n&uacutemeros</strong></h3>
        <img src="./images/sustraccion5_3.png" align="center" width="500" height="500">

      </div>

    </body>
</html>