<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link rel="stylesheet" type="text/css" href="./css/cursos.css">
      <script src="./js/lista_de_cursos.js"></script>
      <title>Aritm&eacutetica para 5to Grado</title>
   </head>

   <body>
     <div class="logotitulo">
       <h1>EduLearn<img src="./images/buhologo.png" align="right" width="75" height="75"></h1>
     </div>
      <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='http://'>Inicio</a></li>
          <li><a href='/grados'>Grados</a></li>
          <li><a href='http://'>Sobre Nosotros</a></li>
          <li><a href='/contacto'>Cont&aacutectanos</a></li>
        </ul>
      </nav>

      <h1 align="center">Temas de Aritm&eacutetica para 5to Grado</h1>

      <!-- -->

      <button><a href="/ari_numdecimal5" style="text-decoration:none;color:black">Numeraci&oacuten decimal</button>
      <br><br>
      <button><a href="/ari_adiccion5" style="text-decoration:none;color:black">Adici&oacuten</button>
      <br><br>
      <button><a href="/ari_sustraccion5" style="text-decoration:none;color:black">Sustracci&oacuten</button>
      <br><br>
      <button><a href="/ari_multiplicacion5" style="text-decoration:none;color:black">Multiplicaci&oacuten</button>
      <br><br>
      <button><a href="/ari_numprimcomp5" style="text-decoration:none;color:black">N&uacutemeros primos y compuestos</button>


    </body>
</html>