
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>P&aacute;gina de contacto</title>
    <link rel="stylesheet" href="./css/contacto1.css">
</head>
<body>

    <div layout:fragment="content">
        
        <div>

            <div class="container">
                <div class="page-header">
                  <h1 class="all-tittles" style="font-size: 30px;">> Complete los siguientes campos: </h1>
                </div>
            </div>
    
            <h1 align="center">Cont&aacute;ctenos</h1>
            <form th.action="@{/contacto}" th:object="${contacto}" class='contacto' method="POST">
                <div><label>Ingrese su nombre:</label><input th:field="*{contNombre}" type='text' value=''></div>
                <div><label>Ingrese su e-mail:</label><input th:field="*{contEmail}" type='text' value=''></div>
                <div><label>Asunto:</label><input th:field="*{contAsunto}" type='text' value=''></div>
                <div><label>Mensaje:</label><textarea th:field="*{contMensaje}" rows='6'></textarea></div>
                <div align="center">
                    <p th:text="${mensaje}"style="color:blue;margin:10px 0px;"></p>
                    <input type='submit' value='Enviar Mensaje'></div>
            </form>
    
        </div>
    
    </div>

    
</body>
</html>