<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link rel="stylesheet" type="text/css" href="./css/temas.css">
      <script src="./js/lista_de_cursos.js"></script>
      <title>Geometr&iacutea para 5to Grado</title>
   </head>

   <body>
     <div class="logotitulo">
       <h1>EduLearn<img src="./images/buhologo.png" align="right" width="75" height="75"></h1>
     </div>
      <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='http://'>Inicio</a></li>
          <li><a href='/grados'>Grados</a></li>
          <li><a href='http://'>Sobre Nosotros</a></li>
          <li><a href='/contacto'>Cont&aacutectanos</a></li>
        </ul>
      </nav>

      <h1 align="center">Elementos de la geometr&iacutea</h1>

      <!-- -->

      <div class="contenido">
        <h3><strong>Punto</strong></h3>
        <p>La marca de un lápiz, lapicero o una tiza nos dan la idea de punto. Se nombra con una letra mayúscula.</p>
        <img src="./images/punto.jpg" align="center" width="300" height="200">
        <br>

        <h3><strong>Recta</strong></h3>
        <p>Es una sucesión de infinitos puntos en una misma dirección. Se nombra con una letra minúscula o dos letras mayúsculas.</p>
        <br>

        <h3><strong>Semirrecta</strong></h3>
        <p>Sobre una recta se toma un punto A, este punto divide a la recta en dos partes, cada parte se llama semirrecta y no se considera al punto A, el punto A se llama origen o frontera.</p>
        <br>
        <img src="./images/semirrectas.png" align="center" width="300" height="200">

        <h3><strong>Segmento</strong></h3>
        <p>Es una parte de la recta que tiene por extremos a dos puntos. Su medida se expresa en unidades de longitud.</p>
        <br>
        <img src="./images/segmentos.png" align="center" width="300" height="200">
        <h3><strong>Plano</strong></h3>
        <p>La superficie de una pizarra, del piso, de una mesa, estas superficies nos dan la idea de un plano. Un plano no tiene límites ni espesor. Se le nombra con una letra mayúscula.</p>
        <br>
        <img src="./images/plano.png" align="center" width="300" height="200">
        

        <h3><strong>Rayo</strong></h3>
        <p>Sobre una recta se toma un punto A, este punto divide a la recta en dos partes, cada parte se le llama rayo y se considera el punto A. El punto A se llama origen.</p>
        <br>
        <img src="./images/rayo.png" align="center" width="300" height="200">
      </div>

    </body>
</html>