
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Contenido de Ingl&eacute;s</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./js/jsGradosYCursos/sweet-alert.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="./css/GradosYCursos/sweet-alert.css">
    <link rel="stylesheet" href="./css/GradosYCursos/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="./css/GradosYCursos/normalize.css">
    <link rel="stylesheet" href="./css/GradosYCursos/bootstrap.min.css">
    <link rel="stylesheet" href="./css/GradosYCursos/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="./css/GradosYCursos/style.css">
    <link rel="stylesheet" href="css/ari_temas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script>window.jQuery || document.write('<script src="./js/jsGradosYCursos/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="./js/jsGradosYCursos/modernizr.js"></script>
    <script src="./js/jsGradosYCursos/bootstrap.min.js"></script>
    <script src="./js/jsGradosYCursos/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="./js/jsGradosYCursos/main.js"></script>
</head>
<body>
    <div class="navbar-lateral full-reset">
        <div class="visible-xs font-movile-menu mobile-menu-button"></div>
        <div class="full-reset container-menu-movile custom-scroll-containers">
            <div class="logo full-reset edu all-tittles">
                <i class="visible-xs zmdi zmdi-close pull-left mobile-menu-button" style="line-height: 60px; cursor: pointer; padding: 0 10px; margin-left: 7px;"></i> 
                EduLearn
            </div>
            <div class="full-reset" style="background-color:#2B3D51; padding: 10px 0; color:#fff;">
                <figure>
                    <img src="./images/buhologo.png" alt="EduLearn" class="img-responsive center-box" style="width:55%;">
                </figure>
                <p class="text-center" style="padding-top: 15px; font-size: 18px;">Sistema de aprendizaje en l&iacute;nea</p>
            </div>
            <div class="full-reset nav-lateral-list-menu">
                <ul class="list-unstyled">
                    <li><a href="/grados"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inicio</a></li>
                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-view-list-alt zmdi-hc-fw"></i>&nbsp;&nbsp; Lista de grados <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="zmdi zmdi-collection-item-1 zmdi-hc-fw"></i>&nbsp;&nbsp; Primer grado</a></li>
                            <li><a href="#"><i class="zmdi zmdi-collection-item-2 zmdi-hc-fw"></i>&nbsp;&nbsp; Segundo grado</a></li>
                            <li><a href="#"><i class="zmdi zmdi-collection-item-3 zmdi-hc-fw"></i>&nbsp;&nbsp; Tercer grado</a></li>
                            <li><a href="#"><i class="zmdi zmdi-collection-item-4 zmdi-hc-fw"></i>&nbsp;&nbsp; Cuarto grado</a></li>
                            <li><a href="/cursos"><i class="zmdi zmdi-collection-item-5 zmdi-hc-fw"></i>&nbsp;&nbsp; Quinto grado</a></li>
                            <li><a href="#"><i class="zmdi zmdi-collection-item-6 zmdi-hc-fw"></i>&nbsp;&nbsp; Sexto grado</a></li>
                        </ul>
                    </li>
                    <li>
                      <div class="dropdown-menu-button"><i class="zmdi zmdi-view-list-alt zmdi-hc-fw"></i>&nbsp;&nbsp; Cursos de 5to grado <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                      <ul class="list-unstyled">
                          <li><a href="/aritmetica5"><i class="fa fa-calculator"></i>&nbsp;&nbsp; Aritm&eacute;tica </a></li>
                          <li><a href="/geometria5"><i class='fas fa-infinity'></i>&nbsp;&nbsp; Geometr&iacute;a </a></li>
                          <li style="text-transform: capitalize;"><a href="#"><i class='fas fa-square-root-alt'></i>&nbsp;&nbsp; &aacute;lgebra </a></li>
                          <li><a href="/ingles5"><i class='fas fa-user-friends'></i>&nbsp;&nbsp; Ingl&eacute;s </a></li>
                          <li><a href="#"><i class='fas fa-globe-americas'></i>&nbsp;&nbsp; Historia </a></li>
                          <li><a href="#"><i class='fas fa-bullhorn'></i>&nbsp;&nbsp; Comunicaci&oacute;n </a></li>
                      </ul>
                    </li>
                    <li><a href="#"><i class="zmdi zmdi-case zmdi-hc-fw"></i>&nbsp;&nbsp; Sobre nosotros </a></li>
                    <li><a href="/contacto"><i class="zmdi zmdi-phone zmdi-hc-fw"></i>&nbsp;&nbsp; Cont&aacute;ctenos </a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="content-page-container full-reset custom-scroll-containers">
        <nav class="navbar-user-top full-reset">
            <ul class="list-unstyled full-reset">
                <li  class="tooltips-general exit-system-button" data-href="#" data-placement="bottom" title="Salir del sistema">
                    <i class="zmdi zmdi-power"></i>
                </li>
                <figure>
                   <img src="./images/usuario.png" alt="usuario" class="img-responsive img-circle center-box">
                </figure>
                <li style="color:#fff; cursor:default;">
                    <span class="all-tittles">Usuario</span>
                </li>
                <li class="mobile-menu-button visible-xs" style="float: left !important;">
                    <i class="zmdi zmdi-menu"></i>
                </li>
            </ul>
        </nav>

        <section id="main-content">
            <section class="wrapper mejora" >
              <h3>Tema: Elementos de la geometr&iacutea</h3>
              <!-- page start-->
              <div class="tab-pane" >

                <div class="row mt">
                  <div class="col-lg-6" style="width: 100%;">
                    <div class="content-panel">
                      <h4><i class="fa fa-angle-right"></i> Punto </h4>
                      <div class="panel-body text-center">
                        <div class="contenidotema" style="text-align:justify">
                          <p>La marca de un l&aacute;piz, lapicero o una tiza nos dan la idea de punto. Se nombra con una letra may&uacute;scula.</p>

                          <div class="contenidotema1">
                            <img src="./images/punto.jpg" align="center" width="300" height="200">
                          </div>                          
                        </div>       
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt">
                  <div class="col-lg-6" style="width: 100%;">
                    <div class="content-panel">
                      <h4><i class="fa fa-angle-right"></i> Recta y Semirrecta </h4>
                      <div class="panel-body text-center">
                        <div class="contenidotema" style="text-align:justify">
                          <li>
                            Recta: Es una sucesi&oacute;n de infinitos puntos en una misma direcci&oacute;n. Se nombra con una letra min&uacute;scula o dos letras may&uacute;sculas.
                          </li>
                          <li>
                            Semirrecta: Sobre una recta se toma un punto A, este punto divide a la recta en dos partes, cada parte se llama semirrecta y no se considera al punto A. Este se llama origen o frontera.
                          </li>

                          <div class="contenidotema1">
                            <img src="./images/semirrectas.png" align="center" width="300" height="200">
                          </div>                          
                        </div>       
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt">
                  <div class="col-lg-6" style="width: 100%;">
                    <div class="content-panel">
                      <h4><i class="fa fa-angle-right"></i> Segmento </h4>
                      <div class="panel-body text-center">
                        <div class="contenidotema" style="text-align:justify">
                          <p>Es una parte de la recta que tiene por extremos a dos puntos. Su medida se expresa en unidades de longitud.</p>

                          <div class="contenidotema1">
                            <img src="./images/segmentos.png" align="center" width="300" height="200">
                          </div>                          
                        </div>       
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt">
                  <div class="col-lg-6" style="width: 100%;">
                    <div class="content-panel">
                      <h4><i class="fa fa-angle-right"></i> Plano </h4>
                      <div class="panel-body text-center">
                        <div class="contenidotema" style="text-align:justify">
                          <p>La superficie de una pizarra, del piso, de una mesa, estas superficies nos dan la idea de un plano. Un plano no tiene l&iacute;mites ni espesor. Se le nombra con una letra may&uacute;scula.</p>

                          <div class="contenidotema1">
                            <img src="./images/plano.png" align="center" width="300" height="200">
                          </div>                          
                        </div>       
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt">
                  <div class="col-lg-6" style="width: 100%;">
                    <div class="content-panel">
                      <h4><i class="fa fa-angle-right"></i> Rayo </h4>
                      <div class="panel-body text-center">
                        <div class="contenidotema" style="text-align:justify">
                          <p>Sobre una recta se toma un punto A, este divide a la recta en dos partes, cada parte se le llama rayo y se considera el punto A. El punto A se llama origen.</p>

                          <div class="contenidotema1">
                            <img src="./images/rayo.png" align="center" width="300" height="200">
                          </div>                          
                        </div>       
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </section>
          </section>

        <footer class="footer full-reset">
            <div class="footer-copyright full-reset all-tittles">© 2020 Aplicativo web EduLearn</div>
        </footer>
    </div>
</body>
</html>