<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link rel="stylesheet" type="text/css" href="./css/cursos.css">
      <script src="./js/lista_de_cursos.js"></script>
      <title>Geometr&iacutea para 5to Grado</title>
   </head>

   <body>
     <div class="logotitulo">
       <h1>EduLearn<img src="./images/buhologo.png" align="right" width="75" height="75"></h1>
     </div>
      <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='http://'>Inicio</a></li>
          <li><a href='/grados'>Grados</a></li>
          <li><a href='http://'>Sobre Nosotros</a></li>
          <li><a href='/contacto'>Cont&aacutectanos</a></li>
        </ul>
      </nav>

      <h1 align="center">Geometr&iacutea para 5to Grado</h1>

      <!-- -->

      <button><a href="/geo_elementos5" style="text-decoration:none;color:black">Elementos de la geometr&iacutea</button>
      <br><br>
      <button><a href="/geo_segmentos5" style="text-decoration:none;color:black">Segmentos</button>
      <br><br>
      <button><a href="/geo_punto5" style="text-decoration:none;color:black">Punto medio</button>
      <br><br>
      <button><a href="/geo_plano5" style="text-decoration:none;color:black">Plano cartesiano</button>
      <br><br>
      <button><a href="/geo_angulo5" style="text-decoration:none;color:black">&Aacutengulos: Defici&oacuten y clases</button>
      
    </body>
</html>