<!DOCTYPE html>
<html lang="es" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>P&aacute;gina de grados</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./js/jsGradosYCursos/sweet-alert.min.js"></script>
    <link rel="stylesheet" href="./css/GradosYCursos/sweet-alert.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="./css/GradosYCursos/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="./css/GradosYCursos/normalize.css">
    <link rel="stylesheet" href="./css/GradosYCursos/bootstrap.min.css">
    <link rel="stylesheet" href="./css/GradosYCursos/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="./css/GradosYCursos/style.css">
    <link rel="stylesheet" href="./css/temasEstilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <script>window.jQuery || document.write('<script src="./js/jsGradosYCursos/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="./js/jsGradosYCursos/modernizr.js"></script>
    <script src="./js/jsGradosYCursos/bootstrap.min.js"></script>
    <script src="./js/jsGradosYCursos/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="./js/jsGradosYCursos/main.js"></script>
</head>
<body>
    <div class="navbar-lateral full-reset">
        <div class="visible-xs font-movile-menu mobile-menu-button"></div>
        <div class="full-reset container-menu-movile custom-scroll-containers">
            <div class="logo full-reset edu all-tittles">
                <i class="visible-xs zmdi zmdi-close pull-left mobile-menu-button" style="line-height: 60px; cursor: pointer; padding: 0 10px; margin-left: 7px;"></i> 
                EduLearn
            </div>
            <div class="full-reset" style="background-color:#2B3D51; padding: 10px 0; color:#fff;">
                <figure>
                    <img src="./images/buhologo.png" alt="EduLearn" class="img-responsive center-box" style="width:55%;">
                </figure>
                <p class="text-center" style="padding-top: 15px; font-size: 18px;">Sistema de aprendizaje en l&iacute;nea</p>
            </div>
            <div class="full-reset nav-lateral-list-menu">
                <ul class="list-unstyled">
                    <li><a href="/grados"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inicio</a></li><!-- Lista de grados en los que el usuario esta matriculado -->

                    <li><a href="/matricula"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inscribirse en grado</a></li>

                    <li><a href="/paginaperfil"><i class="zmdi zmdi-case zmdi-hc-fw"></i>&nbsp;&nbsp; Mi Perfil </a></li>

                    <li th:if="${existeGrado == true}">
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-view-list-alt zmdi-hc-fw"></i>&nbsp;&nbsp; Lista de grados <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                        <ul class="list-unstyled">
                            <li th:each="m : ${grados}"><a th:href="@{/cursos(buscarGrado=${m.grado.name})}" th:text="${m.grado.name}"><i th:class="${m.grado.imagen}"></i></a></li>     
                        </ul>
                    </li>

                    <li><a href="#"><i class="zmdi zmdi-case zmdi-hc-fw"></i>&nbsp;&nbsp; Sobre nosotros </a></li>
                    <li><a href="/contacto"><i class='zmdi zmdi-phone zmdi-hc-fw'></i>&nbsp;&nbsp; Cont&aacute;ctenos </a></li>
                    <li th:if="${menuCurso == true}">
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-view-list-alt zmdi-hc-fw" ></i> <span th:text="${tituloMenu}"></span> <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                        
                        <ul class="list-unstyled">
                            <li th:each="curso : ${cursos}"><a th:href="@{/tema(buscarGrado=${nombreGrado}, buscarCurso=${curso.cursoId})}" th:text="${curso.name}"><i th:class="${curso.imagen}"></i></a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-page-container full-reset custom-scroll-containers">
        <nav class="navbar-user-top full-reset">
            
            
            <ul class="list-unstyled full-reset">
                <li>
                    <form method="POST" th:action="@{/logout}">
                        <button class="btn" type="submit">Cerrar Sesi&oacute;n</button>
                    </form>
                </li>
                <figure>
                   <img src="./images/usuario.png" alt="usuario" class="img-responsive img-circle center-box">
                </figure>
                <li style="color:#fff; cursor:default;">
                    <span class="all-tittles" th:text="${nombreUsuarioActivo}"></span>
                </li>
                <li class="mobile-menu-button visible-xs" style="float: left !important;">
                    <i class="zmdi zmdi-menu"></i>
                </li>
                
            </ul>
        </nav>

        
        
        <section layout:fragment="content" class="full-reset text-center" style="padding: 40px 0;" >
            
                <p>This will be replaced</p>
                
            
        </section>


        <footer class="footer full-reset">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="all-tittles">Prop&oacute;sito de EduLearn</h4>
                        <p style="text-align: justify;">
                            El principal prop&oacute;sito de este aplicativo web es 
                            complementar y brindar los conocimientos necesarios 
                            a los alumnos del &aacute;rea de primaria que no tengan 
                            los recursos suficientes para continuar con sus estudios 
                            de manera virtual debido a la limitaci&oacute;n econ&oacute;mica 
                            que est&aacute;n teniendo sus hogares, generada por la pandemia 
                            a nivel mundial denominada Covid19. 
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="all-tittles">Historia de EduLearn</h4>
                        <p style="text-align: justify;">
                            Este aplicativo web se ha realizado debido a la necesidad existente 
                            en el pa&iacute;s, en algunos sectores en particular, por una educaci&oacute;n de 
                            calidad y m&aacute;s a&uacute;n ahora que todos se han visto perjudicados por la 
                            pandemia mundial. Adem&aacute;s, seg&uacute;n estudios del MINEDU, se ha observado 
                            que no existen muchas aplicaciones web con las caracter&iacute;sticas de brindar 
                            un aprendizaje completo a los usuarios. 
                        </p>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h4 class="all-tittles">Participantes del proyecto EduLearn:</h4>
                    
                        <h4 class="all-tittles" style="margin-left: 25px;"> > Product Owner </h4>
                        <ul class="list-unstyled" style="margin-left: 60px;">
                            <li><i class="zmdi zmdi-check zmdi-hc-fw"></i>&nbsp; David Tocto <i class="zmdi zmdi-facebook zmdi-hc-fw footer-social"></i>
                        </ul>

                        <h4 class="all-tittles" style="margin-left: 25px;"> > Scrum Master </h4>
                        <ul class="list-unstyled" style="margin-left: 60px;">
                            <li><i class="zmdi zmdi-check zmdi-hc-fw"></i>&nbsp; Mart&iacute;n Adrianz&eacute;n <i class="zmdi zmdi-facebook zmdi-hc-fw footer-social"></i>
                        </ul>

                        <h4 class="all-tittles" style="margin-left: 25px;"> > Development Team </h4>
                        <ul class="list-unstyled" style="margin-left: 60px;">
                            <li><i class="zmdi zmdi-check zmdi-hc-fw"></i>&nbsp; Samir Gallegos <i class="zmdi zmdi-facebook zmdi-hc-fw footer-social"></i>
                            <li><i class="zmdi zmdi-check zmdi-hc-fw"></i>&nbsp; Luis Qui&ntilde;ones <i class="zmdi zmdi-facebook zmdi-hc-fw footer-social"></i>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="footer-copyright full-reset all-tittles">© 2020 Aplicativo web EduLearn</div>
        </footer>
    </div>
</body>
</html>