<!DOCTYPE html>

<head>
    <title>Lista de grados</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/LIstaGrados.css">
</head>

<body>
    <h1>EduLearn</h1>
    <h3>Seleccione un grado:</h3>
    <button>Primer grado</button>
      <br><br>
      <button>Segundo grado</button>
      <br><br>
      <button>Tercer grado</button>
      <br><br>
      <button>Cuarto grado</button>
      <br><br>
      <button>Quinto grado</button>
      <br><br>
      <button>Sexto grado</button>
      
</body>

</html>