<!DOCTYPE html>

<head>
    <title>Lista de grados</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/ListaGrados.css">
    <script src="./js/ListaGrados.js"></script>
</head>

<body>
  <div class="logotitulo">
    <h1>EduLearn<img src="./images/buhologo.png" align="right" width="75" height="75"></h1>
  </div>
<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href='http://'>Inicio</a></li>
    <li><a href='/grados'>Grados</a></li>
    <li><a href='http://'>Sobre Nosotros</a></li>
    <li><a href='/contacto'>Cont&aacutectanos</a></li>
  </ul>
</nav>
    <h3>Seleccione un grado:</h3>
    <button>Primer grado</button>
      <br><br>
      <button>Segundo grado</button>
      <br><br>
      <button>Tercer grado</button>
      <br><br>
      <button>Cuarto grado</button>
      <br><br>
      <button><a href="/cursos" style="text-decoration:none;color:black">Quinto grado</a></button>
      <br><br>
      <button>Sexto grado</button>
      
</body>

</html>