<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Spring Boot Application</title>
   </head>
   <body>
      <h1>Bienvenido a EduLearn</h1>
      <form>
        <label for="name">Usuario:</label>
        <input type="text" id="fusuario" name="fusuario"><br><br>
        <label for="lname">Contraseña:</label>
        <input type="text" id="=fcontrasena" name="fcontrasena"><br><br>
        <input type="submit" value="Iniciar">
      </form>
      <p>Registrarme</p>
   </body>
</html>