<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>P&aacute;gina de comentarios</title>
    <link rel="stylesheet" href="./css/rich/richtext.min.css">
    <script src="./js/rich/jquery.richtext.min.js"></script> 

</head>
<body>

    <div layout:fragment="content">

        <div class="page-header">
            <h1 class="all-tittles" style="font-size: 30px;">> REALIZAR COMENTARIO: </h1>
        </div>

        <div class="container cont cont1">

            <p>Grado: <span th:text="${nombreGrado}"></span></p>
            <hr class="linea">

            <span th:if="${hayCurso == true}">
                <form th:action="@{/redireccionComent}" method="POST" >

                    <div class="div2">
                        <label class="etiq1">Seleccione el curso: </label>
                        <select name="comentCursoSelId" required>
                            <option th:each="curso:${cursos}" th:value="${curso.cursoId}" th:text="${curso.name}">
                            </option>
                        </select>

                        <input type="submit" class="btnCrear" value="Seleccionar">
                    </div>

                </form>
            </span>
            <span th:if="${hayCurso == false}">
                <p>No hay cursos disponibles</p>
            </span>

        </div>

    </div>

    

</body>
</html>

