<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Mi Perfil</title>
</head>
<body>

<div layout:fragment="content">
    
    <h1>Mi perfil</h1>
    <p>Nombre: <span th:text="${nombre}"></span></p>
    <p>Apellido: <span th:text="${apellido}"></span></p>
    <p>Correo: <span th:text="${email}"></span></p>

    <form class="button" th:action="@{/eliminarUsuario(buscarEmail=${#request.getUserPrincipal().getName()})}" method="POST">
        <input type="submit" value="Eliminar Usuario"/>
    </form>

    
    <form class="button" th:action="@{/irActualizarUsuario}" method="POST">
        <input type="submit" value="Actualizar Usuario"/>
    </form>

</div>
</body>
</html>