<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title  th:text="${titulo}"></title>
</head>
<body>

<div layout:fragment="content">

    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Seleccione unos de los temas de <span th:text="${nombreCurso}"></span> </h3>
            <hr>

            <div class="row mt">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc" th:each="tema : ${listaTemas}">
                  <div class="project-wrapper">
                    <div class="project" >
                        <p align="center" th:text="${tema.nombre}"></p>
                      <div class="photo-wrapper">
                        <div class="photo" align="center" style="border: 3px solid black;">
                          <a class="fancybox" th:href="@{/contenido(buscarTema=${tema.temaId}, buscarGrado=${buscarGrado})}"><img class="img-responsive1" th:src="@{'/images/' + ${tema.imagen}}"></a>
                        </div>
                        <div class="overlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
               
            </div>

            <div class="coment">
              <a class="btn1" href="/comentGrado">COMENTARIOS PARA EL CURSO</a>
            </div>



        </section>

    </section>
    

</div>
</body>
</html>