
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}">
<head>
    <title>P&aacute;gina de administrador</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container cont">
            <form th:object="${curso}" th:action="@{/prueba}" method="POST">
                
                <div>
                    <label class="etiq"> Nombre del curso: </label><input class="in" th:field="*{name}" type="text" id="curso">
                    <label class="etiq"> Area del curso: </label><input class="in area" th:field="*{area}" type="text">
                </div>
                <div th:each="icono:${iconos}" class="iconos">
                    <input class="iconos inp" type="checkbox" th:field="*{imagen}"  name="icon" th:value="${icono.nombre}">
                    <label class="iconos lab" for="icon"><i th:class="${icono.nombre}" style='font-size:43px'></i></label>
                </div>
                    <script>
                        $("input:checkbox").on('click', function() {
                            // in the handler, 'this' refers to the box clicked on
                            var $box = $(this);
                            if ($box.is(":checked")) {
                                // the name of the box is retrieved using the .attr() method
                                // as it is assumed and expected to be immutable
                                var group = "input:checkbox[name='" + $box.attr("name") + "']";
                                // the checked state of the group/box on the other hand will change
                                // and the current value is retrieved using .prop() method
                                $(group).prop("checked", false);
                                $box.prop("checked", true);
                            } else {
                                $box.prop("checked", false);
                            }
                            });
                    </script>
                <div>
                    <p th:text="${mensaje}"style="color:blue;margin:10px 0px;"></p>
                    <input class="btnCrear" type="submit" value="CREAR CURSO">
                </div>
            </form> 
        </div>
    
    </div>
</body>
</html>