<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>P&aacute;gina de matricula</title>
</head>
<body>

<div layout:fragment="content">
    
    <div class="container cont cont1">
        <div class="matri"> Terminó el tema <span th:text="${nombreTema}"></span></div>
        <a class="btn1" th:href="@{/tema(buscarGrado=${nombreGrado}, buscarCurso=${cursoId})}"> Presione aqui para continuar</a>
    </div>
    

    
</div>
</body>
</html>